*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

#header{
    width: 100%;
    height: 200px;
    background-color: #f1c40f;
}
#header h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
.links-header{
    text-align: center;
    padding-top: 40px;
}
.links-header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 5px;
    padding: 10px 15px;
}
.links-header a:hover{
    background: #f39c12;
}
#secao{
    width: 640px;
    margin-left: 175px;
    padding: 5px 15px;
    padding-top: 30px;
}
.post p{
    position: relative;
    bottom: 15px;
}
.post h2{
    color: #FFC31A;
}
.right-bar{
    width: 270px;
    position: absolute;
    top: 280px;
    left: 950px;
    padding: 5px;
}
.right-bar h3{
    color: #5A5962;
    background: #DDDADD;
    padding: 7px;
}
.right-bar p {
    padding: 7px;
}
.right-bar a {
    text-decoration: none;
    padding: 1px;
    color: #f39c12;
    display: block;
    margin-left: 5px;
}
#tec{
    color: #413A3E;
}
#tec2{
    color: white;
}